@model ProductViewModel

<div class="card mb-2">
    <h4 class="card-header">
        @Model.Name
        <span class="badge badge-pill badge-primary float-right">
            <small>@Model.Price.ToString("c")</small>
        </span>
    </h4>
    <div class="card-body">
        <form method="post" asp-action="AddToCart" asp-controller="Cart">
            <input type="hidden" name="productId" value="@Model.Id" />
            <input type="hidden" name="returnUrl" value="@ViewContext.HttpContext.Request.PathAndQuery()" />
            <span class="card-text">@Model.Description</span>
            <button type="submit" class="btn btn-success btn-sm float-right">Add to cart</button>
        </form>
    </div>
</div>
