@model IEnumerable<Product>
@{
    ViewBag.Title = "All products";
    Layout = "_AdminLayout";
}

@if (Model.Count() > 0)
{
    <table class="table table-bordered table-striped table-sm">
        <tr>
            <th class="text-right">ID</th>
            <th>Name</th>
            <th class="text-right">Price</th>
            <th class="text-center">Actions</th>
        </tr>
        @foreach (var product in Model)
        {
            <tr>
                <td class="text-right">@product.ProductID</td>
                <td>@product.Name</td>
                <td class="text-right">@product.Price.ToString("c")</td>
                <td class="text-center">
                    <form method="post" asp-action="Delete">
                        <a class="btn btn-warning btn-sm" asp-action="Edit" asp-route-productId="@product.ProductID">Edit</a>
                        <input type="hidden" name="ProductID" value="@product.ProductID" />
                        <button class="btn btn-danger btn-sm" type="submit">Delete</button>
                    </form>
                </td>
            </tr>
        }
    </table>
}
else
{
    <form class="text-center mb-3" method="post" asp-action="SeedDatabase">
        <button class="btn btn-danger" type="submit">Seed database</button>
    </form>
}
<div class="text-center mb-3">
    <a class="btn btn-primary" asp-action="Create">Add product</a>
</div>
